<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="Width=device-width, inital-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            background-color: #36454f;
        }

        
        }

        h1 {
            text-align: center;
        }
    </style>
    
</head>

<body>
    <header class="w3-display-container w3-content w3-center" style="max-width:1500px" style="color:orangered; background-color:orangered; border:orangered">
        <img class="w3-image" src="~/images/lungs-main.jpg" alt="Me" width="1500" height="600">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center" style="color:orangered; font-weight: bold; border-color: orangered; margin: orangered; border: orangered">
            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge" style="color:orangered; font-weight: bold">Lung Life</h1>
            <h5 class="w3-hide-large" style="white-space:nowrap; color: orangered; font-weight:bold">Lung Life</h5>
            <h3 class="w3-hide-medium w3-hide-small" style="color:white; font-weight: bold">LUNG CANCER SERVICES</h3>
        </div>

        
    </header>


    <br />
    <br />
    <br />
</body>
</html>







